
@{
    ViewBag.Title = "Create";
}
@using FluentBootstrap;

<h2>Create new Location</h2>
<h4>@ViewBag.Message</h4>
@using (var form = Html.Bootstrap().Form().Begin())
{
    @form.Input("LocationName", "Enter Location Name")

    @form.Submit()
}