@{
    ViewBag.Title = "About";
}
<div id="wrapper" style="text-align: center">

    <h2>@ViewBag.Title.</h2>
</div>
    <div>
        <h3>
            Background
        </h3>

        <p>
            In 2015, two friends who shared immense love for travel and adventure set out on a journey to discover their aspirations. Ovais Ahmed and Usman Bin Noman, both students of IBA, were discouraged by the wave of terror spread across Karachi which restrained them from following their dreams of exploring Pakistan. Thus, the idea of starting their travel agency came to life. The opportunity presented itself when they received an over-whelming number of registrations in their first self-planned tour to Fairy Meadows. Henceforth, the duo’s passion transformed into a profession and Magellan Travels came about on 3rd April 2015 as a start-up venture in IBA. Their office got set up in IBA Aman CED Incubation Centre. Since then, the two friends have organized a number of successful trips all across Pakistan and Kashmir, under the banner of their company.
            <hr />
            Magellan Travels has made a name for itself as a brand signifying quality and reliability, a benchmark for people wishing to travel in full freedom and at the same time being able to rely on constant and discreet assistance. Safe and smooth execution of tours to the unexplored terrains of Pakistan has earned it a large customer base in the medium-high end of the market.
            <hr />
            Having combined sound business acumen and extensive networks of its founders, Magellan Travels is able to propose tours characterized by the beauty of the visiting sites, affordability and comfort of accommodation facilities, and high quality of services offered. The company truly makes one’s traveling dreams come alive!
        </p>
    </div>

    <div>
        <h3>Mission</h3>

        <p>
            To provide a memorable and safe travel experience according to our customers’ needs that focuses on high-quality services maximizing customer satisfaction.
            .
        </p>
    </div>

    <div>
        <h3>Vision</h3>

        <p>
            To become the leading player in the travel industry of Pakistan providing efficient and effective services to our customers.
        </p>
    </div>

    <div>
        <h3>Company Values</h3>
        <ul>
            <li>Quality:<br />We believe in delivering the highest quality at an affordable and competitive cost. We personally ensure the safety and reach of each destination by visiting the destinations before-hand and maintaining constant communication with our local contacts in the particular area.</li>
            <li>Teamwork: <br />This venture was a result of the teamwork of two dedicated individuals which inspires us to collaborate personally with our customers to ensure that they receive the best value that we, as a company, can offer.</li>
            <li>Consistency: <br />We believe in delivering quality consistently in all our tours in order to create a loyal and satisfied customer base. </li>
            <li>
                Integrity:<br /> We deliver what we promise, and only promise what we can deliver. We do what we say with warmth, humor, and a great deal of thought.
            </li>
        </ul>
    </div>
