@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div>
    <h3>INTRODUCTION</h3>

    <p>Use this area to provide additional information.</p>
</div>

<div>
    <h3>HISTORY</h3>

    <p>Use this area to provide additional information.</p>
</div>

<div>
    <h3>MESSAGE</h3>

    <p>Use this area to provide additional information.</p>
</div>

 