@using FluentBootstrap
@model IEnumerable<WebApplication3.Models.Gallery>
@{
    ViewBag.Title = "Gallery";
}

<h2>Index</h2>

    
    @foreach (var pic in Model)
    {   <img src="@Url.Content(pic.PicturePath)" height="500" width="500"/>;
        <hr />
        @pic.PictureDesc;
    }

