@using FluentBootstrap
@model IEnumerable<WebApplication3.Models.Gallery>
@{
    ViewBag.Title = "Gallery";
}

<h2>Index</h2>
@Html.Bootstrap().CenterBlock()



@Html.Bootstrap().Image("http://images.all-free-download.com/images/graphiclarge/beautiful_scenery_04_hd_pictures_166258.jpg", "Placeholder Image")
@*
    @foreach (var pic in Model)
    {
        @pic.PictureDesc;
        @Html.Bootstrap().Image("http://images.all-free-download.com/images/graphiclarge/beautiful_scenery_04_hd_pictures_166258.jpg", "Placeholder Image")
    }
*@
