@using FluentBootstrap
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (var form = Html.Bootstrap().Form().Begin())
{
    @form.Input("PackageName", "Enter Package Name")
    @form.Input("PicturePath", "Enter Picture Link Here")
    @form.Input("Description", "Enter Description Here")
    @*@form.Input("StartDate","Date",,inputType: FormInputType.DateTime).SetHelp("Enter Starting Date Here: ")*@
    @form.Submit()
}