@using FluentBootstrap
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<h4>@ViewBag.Message</h4>
@Html.ValidationSummary()
@using (var form = Html.Bootstrap().Form().Begin())
{
    @form.Input("CityName", "City")
        @form.Submit()
}