@using FluentBootstrap
@model IEnumerable<WebApplication3.Models.City>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (var table = Html.Bootstrap().Table().Begin())
{
    @table.TableHeaderRow("City", "Delete", "Edit")


    @foreach (var city in Model)

    {
        using (var row = table.TableRow().Begin())
        {
            @row.TableData(city.CityName)
            using (var tableData = row.TableData().Begin())
            {
                Html.Bootstrap().LinkButton(actionName: "Delete", controllerName: "City", text: "Delete", routeValues: new { Id = city.CityName });
            }
            using (var tableData = row.TableData().Begin())
            {
                Html.Bootstrap().LinkButton(actionName: "Modify", controllerName: "City", text: "Modify", routeValues: new { Id = city.CityName });
            }
        }

    }


}